.complete-menu {
  background: url("/bg-transparent.png") top left / auto repeat,
    rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  padding-top: 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-section {
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 3rem;
  row-gap: 10rem;
}

.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  cursor: pointer;
  
}
.image-container{
    border-radius: 100%;
    width: 245px;
    height: 245px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.smoothie-img {
  width: 160px;
  filter: drop-shadow(14px 7px 9px rgba(0, 0, 0, 0.15));
}



.menu-modal-btn {
  background-color: transparent;
  border: none;
}

.menu-card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #2c1810;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.menu-card p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #4b5563;
  text-align: center;
  margin: 0;
}

@media (max-width: 1400px) {
  .menu-section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .menu-card {
    width: 250px;
    height: 300px;
    gap: 0.5rem;
  }

  .menu-card img {
    width: 150px;
  }

  .menu-card h3 {
    font-size: 22px;
  }

  .menu-card p {
    font-size: 16px;
  }
}

@media (max-width: 899px) {
  .menu-card {
    width: 200px;
    height: 300px;
  }

  .menu-card img {
    width: 150px;
  }

  .menu-card h3 {
    font-size: 20px;
  }

  .menu-card p {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .menu-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .menu-card {
    width: 150px;
    height: 280px;
  }

  .menu-card img {
    width: 150px;
  }

  .menu-card h3 {
    font-size: 16px;
  }

  .menu-card p {
    font-size: 12px;
  }
}
